<a name="{{version}}"></a>
# [{{version}}]({{~@root.host~}}/{{~@root.owner~}}/{{~@root.repository~}}/compare/{{~previousTag}}...{{~currentTag}})
{{~#if title}} "{{title}}" {{~/if}}
{{~#if date}} ({{date}}) {{~/if}}
